.background{
    background-image: url(images/banner.jpg);
    background-size: 100% 100%;
    background-size: cover;
    display: grid;
}
.layer{
    height: 600px;
    background-color: rgba(74, 4, 38, 0.53);
}
.theme{
    color:  #E65491 ;
}
.services{
    background-color: #DB0A61;
    color: white;
}
.services .fas{
    color: white;
    border: 1px solid #fff;
    padding: 20px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
}
.testimonial{
    width: 100%;
    background-color: black;
}
.set-width{
    padding-left: 25%;
    padding-right: 25%;
}
.testimonial img{
    height: 100px;
    width: 100px;
}
.heading p{
    max-width: 70%;
}
.contacts .fab{
    color: white;
    border: 1px solid #fff;
    padding: 17px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1%;
    margin-top: 2%;
}